hydra-core==1.1.0.rc1
fiftyone==0.11.1
opencv-python==4.5.3.56
imagesize==1.2.0
boto3==1.20.8
scikit-image==0.19.2
wget==3.2
pandas==1.4.1
h5py==3.6.0
numpy==1.21.4
jupyterlab==3.2.9
ipdb==0.13.9
tqdm==4.61.1
pycocotools==2.0.4
torch==1.10.0+cpu -f https://download.pytorch.org/whl/cpu/torch_stable.html
torchvision==0.12.0+cpu -f https://download.pytorch.org/whl/cpu/torch_stable.html